
  main {
    padding: 150px;
  }
  
  .product, .cart {
    margin-bottom: 20px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
  }
  
  .product-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .product-item p {
    margin: 5px 0;
  }
  
  button {
    background-color: #2b179e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2b179e;
  }
  
  .cart {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
  }
  
  #checkout-btn {
    background-color: #f44336;
  }
  
  #checkout-btn:hover {
    background-color: #e53935;
  }
  